.banner {
  background: #A44949;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  margin-bottom: 1rem;
}
.imagen {
  max-height: 180px;
  object-fit: cover;
  border-radius: 0.5rem;
  height: 140px;
  cursor: pointer;
  transition: transform 0.2s;
}
.imagen:hover {
  transform: scale(1.03);
}